.my-chats-title {
  color: white;
}

.chat-box-log {
  color: white;
  background-color: #2f323d;
  height: 65vh;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.chat-box-input {
  background-color: #2f323d;
  border-radius: 40px;
  padding: 10px;

}

.input-box {
  width: 94%;
}


// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
