@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Aladin|Delius+Swash+Caps|Short+Stack|Shrikhand');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #968f7c;
  -webkit-box-shadow: 1px 1px 2px 0 #968f7c;
  box-shadow: 1px 1px 2px 0 #968f7c;
  background: #292b2c;
  border: 1px solid #ccc;
  border-color: #8e8b86;
  margin-top: 100px;
  margin-bottom: 15px;
  padding: 20px;
  color: #8e8b86;
}

.navbar-brand {
 float: left;
 background: radial-gradient(gray, black);
 padding: 7px;
 margin: 0 30px;
 border-radius: 50px;
}

.icon {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

.nav-item-link {
  color: white;
  
}

.nav-item-link:hover {
  cursor: pointer;
  text-decoration: none;
}

li {
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

html, body {
  background: radial-gradient(ellipse, #2278a3, #285f92, #254487, #311b76, #220765, black 70%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}