.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.huddl-logo {
  text-align: center;
  color: #ffff66;
  font-size: 100px;
  font-family: 'Shrikhand', cursive;
  padding-top: 600px;
  position: fixed;
}




// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/